.stages-section {
    padding: 120px;
}
.stages__title {
    @include  textStyle($FS:48px, $FW:600, $LH:60px, $MB:48px, $CLR:$title-color);
}
.stages__item {
    padding: 32px 96px;
    border-radius: 15px;
    @include display($items:center, $space:start, $gap:56px);
    box-shadow: 0px 1px 8px 3px rgba(34, 60, 80, 0.2);
    margin-bottom: 24px;
}
.stages__wrapper {
    position: relative;
    max-width: 600px;
}
.stages__subtitle {
    @include  textStyle($FS:20px, $FW:600, $LH:25px, $MB:48px, $CLR:$title-color);
    
    &::after{
        content: "";
        position: absolute;
        width: 86px;
        height: 3px;
        bottom: 0;
        left: 0;
        top: 37px;
        background-color: $underline-color;
    }      
}
.stages__text {
    @include  textStyle($FS:16px, $FW:400, $LH:24px, $MB:0px, $CLR:$text-color);
}
.stages__video{
    border-radius: 20px;
}
@media only screen and (max-width:900px){
    .stages__video{
        width: 554px;
        height: 312px;
        border-radius: 20px;
    }
}

//tablet
@media only screen and (max-width:900px){
    .stages-section {
        padding: 100px;
    }
    .stages__img{
        display: none;
    }
}
.stages__subtitle {
    @include  textStyle($FS:20px, $FW:600, $LH:25px, $MB:48px, $CLR:$title-color);
    
    &::after{
        content: "";
        position: absolute;
        width: 92px;
        height: 3px;
        bottom: 0;
        left: 0;
        top: 37px;
        background-color: $underline-color;
    }  
        .stages__video{
            width: 675px;
            height: 405px;
            border-radius: 20px;
        }    
    }





//mobile

@media only screen and (max-width:600px){
    .stages{
        display: none;
    }
    .stages__video{
        margin-left: -100px;
        display: block;
        width: 317px;
        height: 242px;
        border-radius: 20px;
    }
}